# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
lib/
*.lai
*.la
*.a
*.lib

# Library headers
include/

# Executables
bin/
*.exe
*.out
*.app

# Project Files
*.xcodeproj
*.vcxproj

raytracer
.*
/Default
frameworks
*.dSYM
result.*
/Profiling

# Microsoft Spam
*.vcxproj.user
*.opensdf
*.pdb
*.sdf
*.vcsproj.user
*.suo
*.sln
*.filters
~$*.pptx
*.psess
*.vspx
Thumbs.db
Makefile.local
Release/
Debug/

mesh/scene.txt
raytrace.cfg